[submodule "csgp4"]
	path = csgp4
	url = https://github.com/cnlohr/csgp4
[submodule "h264funserver/--recursive"]
	path = h264funserver/--recursive
	url = https://github.com/cnlohr/h264fun
[submodule "h264funserver/h264fun"]
	path = h264funserver/h264fun
	url = https://github.com/cnlohr/h264fun
